html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: scale(1.1);
	filter: blur(5px) brightness(60%);
	image-rendering: pixelated;
	background: url('background.gif') bottom / contain no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
	image-rendering: pixelated;
}

.logo > img {
	max-width: 100%;
}